# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch
*.ipch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Certain directories
thirdparty\libcharsetdetect-master\**
thirdparty\uchardet-0.0.7\**
thirdparty\uchardet-master\**
build_msvc\.vs\**
build_msvc\Debug\**